
      
      <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <div class="@container">
            <div class="@[480px]:p-4">
              <div
                class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("assets/images/background.jpg");'
              >
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                  >
                  Welcome to Yuvi's Crafts space
                  </h1>
                  <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                    Step into a world of handmade wonders. At Yuvi's Crafts, you'll find high-quality crochet items made with attention to detail and a touch of imagination. From
                      adorable mini-whales and seals to quirky fidget mushrooms and tiny pickles, each creation is crafted with love and care.
                  </h2>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#e92932] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                >
                  <span class="truncate"><a routerLink="shop">Shop Now</a></span>
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="flex flex-col gap-10 px-4 py-10 @container">
            <div class="flex flex-col gap-4">
              <h1
                class="text-[#1b0e0e] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
              >
                Featured Collections
              </h1>
              <p class="text-[#1b0e0e] text-base font-normal leading-normal max-w-[720px]">
                Explore our handpicked collections, each designed to inspire and elevate your style. From casual wear to formal attire, find the perfect pieces to express your
                unique personality.
              </p>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDFLZuKjQFjQZnwEWEnmq3bhw44uGTcmbDfFfHZToUwbM_YZrIUofFpjwW_lf_BqT_hwIxXtSy7YSCxRoxYFp9cefXXMx1H0qMTWEj18KLlxo2o-4Y963cUF9QxO6JLHDV0-WEIo6bykZOHoboYL33DoyUJwFEjFgOhzMybDOyLo7yHPNYuPsh1HIWYspA7Q4PqeSrqtdAk78pu5gJJciFYVwSRuGSewkQ0rAGj3VMrLy-t66kTcsii99RX4pb5EW9Mu0dT4qK4jf3x");'
                ></div>
                <div>
                  <p class="text-[#1b0e0e] text-base font-medium leading-normal">Women's Collection</p>
                  <p class="text-[#994d51] text-sm font-normal leading-normal">
                    Discover the latest trends in women's fashion, from dresses and tops to jeans and jackets. Find the perfect outfit for any occasion.
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBAdhfKuitZWx61uVZv6JV-04dFBJ2cb2g9JCbqiHk0wIW6WYg3b2bIfiRpn4wn3q3oC4R9JeXvDEoh1Z1fgWEeHb-1BR_r7jS6MVso-05GUfG2cKinQlkoNA7Aq0JNvr0e2qnzEH4O1RyMFYIgbSnEO8dPi_xhLsWGuFbJJleOsv7-RtyZmbaqcrYYkIxkf3xeI7FWUjqi4w4ScUP8D_OOjoeAzjlf1kPAhrAYJUGZKlqkCHn9ENJ1tikroXt9fIfzeF_TsRB6QgMh");'
                ></div>
                <div>
                  <p class="text-[#1b0e0e] text-base font-medium leading-normal">Men's Collection</p>
                  <p class="text-[#994d51] text-sm font-normal leading-normal">
                    Explore our collection of stylish and comfortable men's clothing, including suits, shirts, pants, and outerwear. Elevate your everyday look.
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAo-qfV0GdINJIhsYqC8dzTQjG-ZCIJTS0oslb8Z2hveKGxBrLeYTQBSlX4wfpEQQem4frgoYUK8oMAe-UJld6TuWWckyGxnCIGcZm8BHP6B3IaazOhmgiLYqVpNV1uXlDeW-D3Ez4eJVUBLs7DRtOFeeLiRWaB-ybTkhkzCKAZNREQ_N9ReMRhV77UdtJGM6L15GHWaAeOUsjEcOPLZDiS-r-9JkEdA7hlRM2MJbjy8smZcynrrYisE8LKTeeCHW3c9REC4d0lak_A");'
                ></div>
                <div>
                  <p class="text-[#1b0e0e] text-base font-medium leading-normal">Accessories</p>
                  <p class="text-[#994d51] text-sm font-normal leading-normal">
                    Complete your outfit with our range of accessories, including bags, shoes, jewelry, and scarves. Add the perfect finishing touch to your style.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="flex flex-col gap-10 px-4 py-10 @container">
            <div class="flex flex-col gap-4">
              <h1
                class="text-[#111518] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
              >
                Critter Collection
              </h1>
              <p class="text-[#111518] text-base font-normal leading-normal max-w-[720px]">
                Meet the menagerie! This adorable collection features crocheted mini-whales, seals, frogs, and more. Each character is handcrafted with care and bursting with
                personality.
              </p>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("assets/images/mini-whale.png");'
                ></div>
                <div>
                  <p class="text-[#111518] text-base font-medium leading-normal">Mini-Whales</p>
                  <p class="text-[#637c88] text-sm font-normal leading-normal">Discover our charming mini-whales, perfect for cuddling or collecting.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("assets/images/mini-seal.png");'
                ></div>
                <div>
                  <p class="text-[#111518] text-base font-medium leading-normal">Seals</p>
                  <p class="text-[#637c88] text-sm font-normal leading-normal">Explore our delightful seals, each with its own unique charm.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("assets/images/frog.png");'
                ></div>
                <div>
                  <p class="text-[#111518] text-base font-medium leading-normal">Frogs</p>
                  <p class="text-[#637c88] text-sm font-normal leading-normal">Meet our playful frogs, adding a touch of whimsy to any space.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
